/* general style containers */
.form-container{
  margin: 0 165px 3rem 165px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.label-container{
  width: 230px;
  display: flex;
  flex-flow: column nowrap;
  /* gap:2px; */
  text-align: left;
  color: #3E54AC;
}
.text-container{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

/* general style for label & input */
.edit-label{
  padding: 1rem 1rem 1rem 0;
}

.edit-label-block{
  padding: 1rem 1rem 8rem 0;
}

.edit-text{
  width: calc(100% - 4rem);
  padding: 1rem 3rem 1rem 1rem;

  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  border-color: #BFACE2;
  border-width: 0.1rem;
  border-style: none;
  border-bottom-style: solid;
}

.edit-text:hover{
  background-color: #ECF2FF;
  border-color: #ECF2FF;
  border-radius: 0.3rem;
}

.edit-text::placeholder {
  color: #BFACE2;
}

.edit-text-block{
  padding: 1rem 3rem 1rem 1rem;
  height: 8rem;
}

/* image */
.img-container{
  width: 100%;
  min-height: 40vh;
  border-style: solid;
}

/* select */
.edit-select {
  width: 100%;
}

/* multiple inputs */
.multi-container{
  position: relative;
  width: 100%;
}

/* step */
.step-labels{
  margin: 2px
}
/* ingredient */
.ingdt-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1rem;
}

.ingdt{
  padding: 1rem;
  width: 130%;
}

/* edit button */
.edit-btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0.5rem;
  top: 0.5rem;

  background-color: transparent;
  border-width: 0.1rem;
  color: #BFACE2;
}
.edit-btn:hover {
  border-color: #3E54AC;
  border-style: solid;
  color: #3E54AC;
}
/* add button */
.add-btn {
  padding: 1rem;
  width: 100%;

  background-color: #fff;
  color: #3E54AC;
  border-radius: 0;
  font-size: 1rem;
  border-color: #3E54AC;
  border-width: 0.1rem;
  border-style: none;
  border-bottom-style: solid;
}

.add-btn:hover {
  border-radius: 0.3rem;
  background-color: #ECF2FF;
  border-color: #ECF2FF;
}

/* form button */
.btn-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 6rem
}
.form-btn {
  width: 100%;
}

.form-delete {
  background-color: #fff;
  color: #3E54AC;
  border-radius: 0;
  font-size: 1rem;
  border-color: #3E54AC;
  border-width: 0.1rem;
  border-style: none;
  border-bottom-style: solid;
}

.form-delete:hover {
  border-radius: 0.3rem;
  background-color: #ECF2FF;
  border-color: #ECF2FF;
}