/* ==== Dictionary Page ==== */
.search-container{
  margin-bottom: 4%;
  height: 2.5rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}
.search-btn{
  height: 60px;
  min-width: 136px;
}
.search-bar{
  margin-left: 30px;
  width: 100%;
  height: 2rem;
  border-color: #BFACE2;
}

/* list of dishes */
.dict-container{
  display: flex;
  flex-flow: column;
  font-family: 'Courier New', Courier, monospace;
}
.dict-row{
  padding: 1rem 0;
  border-bottom: solid;
  border-color: #BFACE2;
}
.dict-item{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 1.4rem;
  overflow: hidden;
  gap: 0 30px;
  cursor: pointer;
}
.dict-item:hover{
  color: #3E54AC;
  max-height: fit-content;
}
.item-each{
  display: inline-block;
  width: 45%;
  margin-right: 0.7rem;
}

.item-ingdt{
  display: inline-block;
  margin-right: 0.7rem;
}