/* styles shared by both input page and register page */
.access-container{
  display: flex;
  flex-flow: column;

  font-family: 'Courier New', Courier, monospace;
}
.access-row{
  padding: 1rem 0;
}
.access-row:nth-child(3){
  margin-top: 30px;
  padding-bottom: 0.5rem;
}
/* alerts */
.access-alerts{
  width: 24.5rem;
  height: 4rem;
  margin: auto;
  margin-bottom: 2rem;
  color: #3E54AC;
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
.access-msg-title{
  font-weight: 400;
  font-size: 1.2rem;
}
.access-msg-p{
  font-size: 0.9rem;
}
/* form and button*/
.access-label{
  color: #3E54AC;
  font-size: 1.2rem;
  padding-right: 2rem;
}
.access-bar{
  width: 14rem
}
.access-btn{
  width: 24.5rem;
  background-color: #BFACE2;
  color: #3E54AC;
  font-size: 1.2rem;
  border-style: none;
  border-bottom-style: solid;
  border-color: #3E54AC;
  border-radius: 0;
}
.access-btn:hover{
  background-color: #3E54AC;
  color:#ECF2FF;
  font-weight: 100;
  border-style: solid;
  border-radius: 0.5rem;
}
.access-switch{
  color: #ECF2FF;
}
.access-switch>a{
  color: #3E54AC;
}