body{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.purple-page {
  background-color: #BFACE2;
}

/* style all lists */
ul, li{
  margin:0;
  padding:0;
  list-style-type: none;
}

/* style all links */
a{
  text-decoration: none;
}

/* style all buttons */
button{
  background-color: #BFACE2;
  color:white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  border-style: none;
  border-radius: 0.5rem;
  width: 100px;
  height: 55px;
}

button:hover{
  background-color: #ECF2FF;
  color: #3E54AC;
}

/* style all input texts */
.text{
  font-family: 'Courier New', Courier, monospace;
  border-style: solid;
  border-color: #BFACE2;
  border-width: 0.1rem;
  border-radius: 0.3rem;
  padding: 13px;
}
.text:hover{
  background-color:#ECF2FF;
}
.text:focus{
  background-color: #ECF2FF;
}
::placeholder{
  color: gray;
}
textarea {
  resize: none;
}