/* styles shared by both input page and register page */
.access-container{
  margin-top: 3%;
  display: flex;
  flex-flow: column;
}
.access-row{
  padding: 1rem 0;
}

/* alerts */
.access-alerts{
  width: 24.5rem;
  height: 4rem;
  margin: auto;
  margin-bottom: 2rem;
  color: #3E54AC;
}
.access-msg-title{
  font-weight: 400;
  font-size: 1.2rem;
}
.access-msg-parag{
  font-size: 0.9rem;
}

/* form*/
.access-label{
  display: inline-block;
  color: #3E54AC;
  font-size: 1.2rem;
  padding-right: 2rem;
  width: 100px;
}
.access-bar{
  width: 14rem
}

/* button */
.access-btn{
  margin-top: 30px;
  width: 24.5rem;
  background-color: #BFACE2;
  color: #3E54AC;
  font-size: 1.2rem;
  border-style: none;
  border-bottom-style: solid;
  border-color: #3E54AC;
  border-radius: 0;
}
.access-btn:hover{
  background-color: #3E54AC;
  color:#ECF2FF;
  font-weight: 100;
  border-style: solid;
  border-radius: 0.5rem;
}

/* switch reg / login text */
.access-switch{
  color: #ECF2FF;
}
.access-switch>a{
  color: #3E54AC;
}