.folder-container{
  margin-top: 5rem;
}

/* folder list */
.folderlist-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 5rem 5rem;
}

.eachfolder-container{
  padding: 0rem 1rem 2rem;
  width: 20rem;
  height: fit-content;
  max-height: 15rem;
  cursor: pointer;
  border-color: #3E54AC;
  border-top-style: solid;
  text-align: left;
}
.eachfolder-container:hover{
  border-radius: 0.5rem;
  border-color: #ECF2FF;
  background-color: #ECF2FF;
}
.eachfolder-header{
  padding-bottom: 0.5rem;
  margin: 0;
  padding: -0.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #3E54AC;
  font-size: 3rem;
}
.eachfolder-recipe-container{
  max-width: 100%;
  display: flex;
  flex-flow: column wrap;
  overflow: scroll;
  gap: 0.5rem 0;
  font-size: 1.2rem;
}