.error-msg{
  margin-top: 20vh;
  color:#3E54AC;
}
.redirect-msg{
  font-size: 1.2rem;
  color: #fff;
  border-bottom: solid;
  margin-top: 30vh;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.redirect-msg:hover{
  color: #3E54AC;
}
.redirect-kmj {
  font-family: 'Courier New', Courier, monospace;
}