/* general style containers */
.form-container{
  margin: 0 165px 5rem 165px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.label-container{
  width: 230px;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  color: #3E54AC;
}
.text-container{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

/* general style for label & input */
.edit-label{
  padding: 1rem 1rem 1rem 0;
}

.edit-label-block{
  padding: 1rem 1rem 8rem 0;
}

.edit-text{
  width: calc(100% - 4rem);
  padding: 1rem 3rem 1rem 1rem;
  min-height: 1rem;

  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  border-color: #BFACE2;
  border-width: 0.1rem;
  border-style: none;
  border-bottom-style: solid;
  cursor: text;
}

.edit-text:hover{
  background-color: #ECF2FF;
  border-color: #ECF2FF;
  border-radius: 0.3rem;
}

.edit-text::placeholder {
  color: #BFACE2;
}

.edit-text-block{
  padding: 1rem 3rem 1rem 1rem;
  height: 8rem;
}

/* select */
.edit-fieldset{
  margin: 0;
  padding: 1rem 0 0 0;

  border-style: none;
}

.select-options{
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem 1rem;
}
.select-check{
  appearance: none;
  margin: 0;
}

.select-option{
  min-width: fit-content;
  padding: 0.5rem 1rem;

  color: #3E54AC;
  font-family: 'Courier New', Courier, monospace;
  border-style: solid;
  border-color: #BFACE2;
  border-radius: 1rem;
  font-size: 1rem;
}
.select-state:hover{
  background-color: #ECF2FF;
  border-color: #ECF2FF;
}
.select-state-active{
  color: #fff;
  background-color: #BFACE2;
  border-color: #BFACE2;
}
.select-add-container{
  position: relative;
  margin: 0 2.6rem;
}
.select-btn{
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0.1rem;
  width: 2.2rem;
  height: 2.2rem;

  border-radius: 100%;
  cursor: pointer;
}
.select-add-btn{
  left: -2.6rem;
}
.select-del-btn{
  right: -2.6rem;
  border-color: #BFACE2;
  border-style: solid;
  background-color: #fff;
  color: #BFACE2;
}
.select-del-btn:hover{
  border-color: #ECF2FF;
}
.select-display-hide{
  visibility: hidden;
}

/**/

/* multiple inputs */
.multi-container{
  position: relative;
  width: 100%;
}

/* step */
.step-labels{
  margin: 2px
}
/* ingredient */
.ingdt-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1rem;
}

.ingdt{
  padding: 1rem;
  width: 130%;
}

/* edit button */
.edit-btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0.5rem;
  top: 0.5rem;

  background-color: transparent;
  border-width: 0.1rem;
  color: #3E54AC;
  cursor: pointer;
}
.edit-btn:hover {
  border-color: #3E54AC;
  border-style: solid;
}

/* add button */
.add-btn {
  padding: 1rem;
  width: 100%;

  background-color: #fff;
  color: #3E54AC;
  border-radius: 0;
  font-size: 1rem;
  border-color: #3E54AC;
  border-width: 0.1rem;
  border-style: none;
  border-bottom-style: solid;
  cursor: pointer;
}

.add-btn:hover {
  border-radius: 0.3rem;
  background-color: #ECF2FF;
  border-color: #ECF2FF;
}

/* form button */
.btn-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 6rem
}
.form-btn {
  width: 100%;
  cursor: pointer;
}

.form-delete {
  background-color: #fff;
  color: #3E54AC;
  border-radius: 0;
  font-size: 1rem;
  border-color: #3E54AC;
  border-width: 0.1rem;
  border-style: none;
  border-bottom-style: solid;
}

.form-delete:hover {
  border-radius: 0.3rem;
  background-color: #ECF2FF;
  border-color: #ECF2FF;
}

/* popout */
.popout-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  min-width: 30%;
  z-index: 3;
  gap: 3rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  border-radius: 0.5rem;
  background-color: #ECF2FF;
  box-shadow: 5px 5px 2px #3E54AC;
}

.hidePopout{
  display: none;
}
.popout-content{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: left;
  color: #3E54AC;
}

.popout-label{
  min-width: 150px;
}

.popout-text{
  border-radius: 0.3rem;
  border-style: none;
  box-shadow: 2px 2px 2px #3E54AC;
}
.popout-text:hover{
  background-color: #fff;
  box-shadow: -2px -2px 2px #3E54AC;
}

.popout-btn-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 6rem;
}

.popout-btn{
  width: 100%;
  height: 55px;
  background-color: #fff;
  color: #3E54AC;
  box-shadow: 2px 2px 2px #3E54AC;
}

.popout-btn:hover{
  background-color: #fff;
  border-color: #3E54AC;
  border-width: 0.1rem;
  box-shadow: -2px -2px 2px #3E54AC;
}

.popout-left{
  box-shadow: 2px 2px 2px #BFACE2;
}

.popout-left:hover{
  box-shadow: -2px -2px 2px #BFACE2;
}