/* ==== Editor Page ==== */

/* general input styles */
.edit-container-rows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 5vw;
  margin-bottom: 70px;
}

.edit-col{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.edit-row{
  position: relative;
  width: 44.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-label{
  text-align: left;
  padding-top: 15px;
  min-width: 135px;
  color: #3E54AC;
}

.edit-text{
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  border-style: none;
  border-bottom-style: solid;
  border-color: #BFACE2;
  border-radius: 0;
  border-width: 0.1rem;
  padding: 13px;
  height: 15px;
}

.edit-text:hover{
  background-color: #ECF2FF;
  border-color: #ECF2FF;
  border-radius: 0.3rem;
}