/* .showpage-container-mode{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 5.6rem;
} */

/* ==== Dictionary Page ==== */
.dictionary-container{
  width: 86%;
  position: fixed;
}
.dictionary-container-mode{
  min-width: 350px;
  position: fixed;
}

.search-container{
  margin-bottom: 2rem;
  height: 2.5rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}
.search-btn{
  height: 3.8rem;
  min-width: 136px;
  cursor: pointer;
}
.search-btn-mode {
  height: 3.8rem;
  cursor: pointer;
}
.search-bar{
  margin-left: 30px;
  width: 100%;
  height: 2rem;
}
.search-bar-mode{
  margin-left: 1rem;
  width: 100%;
  height: 2rem;
}

/* list of dishes */
.dict-container{
  display: flex;
  flex-flow: column;
  font-family: 'Courier New', Courier, monospace;
  /* overflow: scroll; */
}
.dict-row{
  padding: 1rem 0;
  border-bottom: solid;
  border-color: #BFACE2;
}
.dict-item{
  max-height: 1.4rem;
  gap: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  overflow: hidden;
  cursor: pointer;
}
.dict-item:hover{
  color: #3E54AC;
  max-height: fit-content;
}
.dict-item-mode{
  max-height: 1.4rem;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.dict-item-mode:hover{
  color: #3E54AC;
  max-height: fit-content;
}
.item-each{
  display: inline-block;
  width: 45%;
  margin-right: 0.7rem;
}
.item-each-mode{
  width: 100%;
}
.item-ingdt{
  display: inline-block;
  margin-right: 0.7rem;
}